// In client/src/pages/Login.scss

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    form {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            color: gray;
            margin-bottom: 20px;
        }

        label {
            color: gray;
            font-size: 18px;
        }

        input {
            padding: 15px;
            border: 1px solid rgb(216, 214, 214);
            border-radius: 5px;
        }

        button {
            border: none;
            padding: 15px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            background-color: #1dbf73;
            cursor: pointer;
            border-radius: 5px;
            
            &:hover {
                background-color: #19a362;
            }

            &:disabled {
                background-color: #cccccc;
                cursor: not-allowed;
            }
        }
    }
}